<section class="hero-wrap hero-wrap-2" style="background-image: url('https://i.ibb.co/DwzHhzQ/bg-new.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9  pb-5 text-center">
        <h1 class="mb-3 bread">Kontak Saya</h1>
        <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="'/'">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Kontak Saya<i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section contact-section">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-12 mb-4">
        <h2 class="h3">Informasi Kontak</h2>
      </div>
      <div class="w-100"></div>
      <div class="col-md-4">
        <p><span>Alamat:</span> Kantor Pengacara Imam Hanafi, S.H.
          Jalan Bungur Raya, Gang Andaya Puri, Nomor 12 A, Jakarta, Indonesia</p>
      </div>
      <div class="col-md-4">
        <p><span>Whatsapp:</span>081290308953</p>
      </div>
      <div class="col-md-4">
        <p><span>Email:</span> <a href="mailto:advocateimam99@gmail.com">advocateimam99@gmail.com</a></p>
      </div>
    </div>
    <div class="row block-9 d-flex align-items-center justify-content-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.1212744819245!2d106.77967457461857!3d-6.247745961174154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f15840206021%3A0xd22b974182ddf69c!2sKANTOR%20PENGACARA%20IMAM%20HANAFI%2C%20S.H.!5e0!3m2!1sid!2sid!4v1691504520283!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
