<section class="hero-wrap hero-wrap-2" style="background-image: url('https://i.ibb.co/DwzHhzQ/bg-new.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 pb-5 text-center">
        <h1 class="mb-3 bread">Galeri</h1>
        <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="'/'">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Galeri<i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<div class="gallery">
  <img src="https://i.ibb.co/mFpKKdk/Whats-App-Image-2023-08-07-at-01-14-19.jpg" alt="Herd of horses">
  <img src="https://i.ibb.co/rZHXzvY/Whats-App-Image-2023-08-07-at-01-12-12.jpg" alt="Baby Elephant">
  <img src="https://i.ibb.co/DVX7nTz/Whats-App-Image-2023-08-07-at-01-26-29.jpg" alt="Koi Fish">
  <img src="https://i.ibb.co/dkZCyyH/Whats-App-Image-2023-08-07-at-01-16-00.jpg" alt="Ibis Bird">
  <img src="https://i.ibb.co/31f1gsV/Whats-App-Image-2023-08-07-at-01-29-58.jpg" alt="Lemur">
</div>
