<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Layanan Hukum</h2>
          <ul class="list-unstyled">
            <li><a href="javascript:void(0)" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Hukum Keluarga</a></li>
            <li><a href="javascript:void(0)" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Korporasi Umum</a></li>
            <li><a href="javascript:void(0)" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Restrukturisasi & Kepailitan</a></li>
            <li><a href="javascript:void(0)" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Hukum Perdata</a></li>
            <li><a href="javascript:void(0)" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Hukum Administrasi</a></li>
            <li><a href="javascript:void(0)" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Perlindungan Konsumen</a></li>
            <li><a href="javascript:void(0)" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Hukum Pidana</a></li>
            <li><a href="javascript:void(0)" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Perbankan & Keuangan</a></li>
            <li><a href="javascript:void(0)" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Pertanahan / Agraria</a></li>
            <li><a href="javascript:void(0)" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Legal Drafting</a></li>
            <li><a href="javascript:void(0)" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Hak Atas Kekayaan Intelektual</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Jam Operasional</h2>
          <div class="opening-hours">
            <h4>Jam kerja :</h4>
            <p class="pl-3">
              <span>Senin - Jumat : 09:00 - 20:00 WIB</span> <br>
              <span>Sabtu : 09:00 - 17:00 WIB</span>
            </p>
            <h4>Hari Libur :</h4>
            <p class="pl-3">
              <span>Minggu</span> <br>
              <span>Setiap tanggal merah</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Anda Punya Pertanyaan?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Kantor Pengacara Imam Hanafi, S.H. <br> Jalan Bungur Raya, Gang Andaya Puri, Nomor 12 A, Jakarta, Indonesia</span></li>
              <li><span class="icon icon-phone"></span><span class="text">081290308953</span></li>
              <li><span class="icon icon-envelope pr-4"></span><span class="text">advocateimam99@gmail.com</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> 2023 All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>

