<section class="hero-wrap hero-wrap-2" style="background-image: url('https://i.ibb.co/DwzHhzQ/bg-new.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 pb-5 text-center">
        <h1 class="mb-3 bread">Layanan Hukum</h1>
        <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="'/'">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>Layanan Hukum <i
              class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-family"></span>
          </div>
          <h3 class="mb-3">Hukum Keluarga</h3>
          <p>Hukum keluarga dapat diartikan sebagai keseluruhan ketentuan atau aturan-aturan yang mengenai ...</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-shield"></span>
          </div>
          <h3 class="mb-3">Korporasi Umum</h3>
          <p>Dalam artinya yang sempit, yaitu sebagai badan hukum, Korporasi merupakan badan hukum yang ...</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-lawyer"></span>
          </div>
          <h3 class="mb-3">Restrukturisasi & Kepailitan</h3>
          <p>Restrukturisasi merupakan kegiatan untuk merubah struktur perusahaan...</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-handcuffs"></span>
          </div>
          <h3 class="mb-3">Hukum Perdata</h3>
          <p>Hukum Perdata adalah ketentuan yang mengatur HAK dan kepentingan antar individu dengan ...</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-house"></span>
          </div>
          <h3 class="mb-3">Hukum Administrasi</h3>
          <p>Hukum Tata Usaha Negara adalah hukum yang mengatur kegiatan administrasi negara, tata ...</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-employee"></span>
          </div>
          <h3 class="mb-3">Hukum Ketenagakerjaan</h3>
          <p>Hukum ketenagakerjaan adalah hukum yang mengatur segala hal yang berhubungan...</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-medal"></span>
          </div>
          <h3 class="mb-3">Perlindungan Konsumen</h3>
          <p>Perlindungan Konsumen adalah segala upaya yang menjamin adanya kepastian hukum ...</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-handcuffs"></span>
          </div>
          <h3 class="mb-3">Hukum Pidana</h3>
          <p>Suatu perbuatan tidak dapat dipidana, kecuali berdasarkan kekuatan perundang-undangan pidana ...</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-money"></span>
          </div>
          <h3 class="mb-3">Perbankan & Keuangan</h3>
          <p>Seperangkat kaidah hukum dalam bentuk peraturan perundang-undangan, yurisprudensi ...</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-auction"></span>
          </div>
          <h3 class="mb-3">Pertanahan / Agraria</h3>
          <p>Hukum agraria dalam arti sempit yaitu merupakan bagian dari hukum agrarian dalam arti luas yaitu hukum
            tentang ...</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-lawyer"></span>
          </div>
          <h3 class="mb-3">Legal Drafting</h3>
          <p>Perancangan hukum (legal drafting) merupakan salah satu unsur penting dalam praktik hukum. Legal drafting
            ...</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-3 text-center">
        <div class="practice-area bg-white p-4">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-handshake"></span>
          </div>
          <h3 class="mb-3">Hak Atas Kekayaan Intelektual</h3>
          <p>Hak Cipta atau Hak Atas Kekayaan Intelektual adalah hak eksklusif pencipta yang timbul secara...</p>
        </div>
      </div>
    </div>
  </div>
</section>