<div class="hero-wrap" style="height: 100vh; background-image: url('https://i.ibb.co/DwzHhzQ/bg-new.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" style="height: 100vh;">
      <div class="col-md-10 text-center">
        <h2 class="subheading">Saya di sini untuk membantu!</h2>
        <h1 class="mb-4">
          <span>Sigap</span> . <span>Berpengalaman</span> . <span>Cerdas</span>
        </h1>
        <p>
          <a href=" https://wa.me/+6281290308953?text=Saya%20ingin%20berkonsultasi%20hukum,%20Pak"
             class="btn btn-primary py-3 px-4">
            Konsultasi Gratis Via Whatsapp
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-no-pb services-section">
  <div class="container">
    <div class="row no-gutters d-flex">
      <div class="col-md-3 text-center services align-self-stretch p-4">
        <div class="icon"><span class="flaticon-auction"></span></div>
        <div class="media-body">
          <h3 class="heading mb-3"><a href="javascript:void(0)">Dapatkan Saran Hukum Terbaik</a></h3>
        </div>
      </div>
      <div class="col-md-3 text-center services align-self-stretch p-4">
        <div class="icon"><span class="flaticon-lawyer"></span></div>
        <div class="media-body">
          <h3 class="heading mb-3"><a href="javascript:void(0)">Berpengalaman dalam Berbagai Kasus</a></h3>
        </div>
      </div>
      <div class="col-md-3 text-center services align-self-stretch p-4">
        <div class="icon"><span class="flaticon-money"></span></div>
        <div class="media-body">
          <h3 class="heading mb-3"><a href="javascript:void(0)">Dapatkan Harga Spesial</a></h3>
        </div>
      </div>
      <div class="col-md-3 text-center services align-self-stretch p-4">
        <div class="icon"><span class="ion-md-star-outline"></span></div>
        <div class="media-body">
          <h3 class="heading mb-3"><a href="javascript:void(0)">Profesional dalam Bekerja</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-counter" id="section-counter">
  <div class="container-fluid" style="margin: 32px 0">
    <div class="row d-flex">
      <div class="col-md-6 d-flex">
        <div class="img d-flex align-self-stretch align-items-center justify-content-center">
          <img class="self-potrait" src="https://i.ibb.co/MSzLNSx/logo.jpg" alt="tes">
        </div>
      </div>
      <div class="col-md-6 px-5 py-5">
        <div class="row justify-content-start pt-3 pb-3">
          <div class="col-md-12 heading-section">
            <h1 class="heading">Tentang Saya</h1>
            <p style="text-align: justify; max-width: 500px;">Imam Hanafi, S.H. dari <em>Family</em> Siregar adalah sosok energik, motivasi menjadi <em>Advocate</em> adalah berawal dari keinginan menjunjung tinggi nilai - nilai kebenaran dan kaum lemah yang terintimidasi.
              <em>Advocate</em> yang sudah berpengalaman menyelesaikan masalah Litigasi dan Non Litigasi, dalam bidang pertanahan, sengketa lahan, sengketa dalam keluarga, Pidana Khusus ataupun Pidana Umum dan permasalahan hukum lainnya.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section">
        <span class="subheading">Cakupan</span>
        <h2 class="mb-4">Layanan Hukum</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-3 col-lg-2 text-center">
        <div class="practice-area">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-family"></span>
          </div>
          <h3><a href="javascript:void(0)">Hukum Keluarga</a></h3>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 text-center">
        <div class="practice-area">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-auction"></span>
          </div>
          <h3><a href="javascript:void(0)">Korporasi Umum</a></h3>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 text-center">
        <div class="practice-area">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-shield"></span>
          </div>
          <h3><a href="javascript:void(0)">Restrukturisasi & Kepailitan</a></h3>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 text-center">
        <div class="practice-area">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-handcuffs"></span>
          </div>
          <h3><a href="javascript:void(0)">Hukum Perdata</a></h3>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 text-center">
        <div class="practice-area">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-house"></span>
          </div>
          <h3><a href="javascript:void(0)">Hukum Administrasi</a></h3>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 text-center">
        <div class="practice-area">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-employee"></span>
          </div>
          <h3><a href="javascript:void(0)">Hukum Ketenagakerjaan</a></h3>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 text-center">
        <div class="practice-area">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-medal"></span>
          </div>
          <h3><a href="javascript:void(0)">Perlindungan Konsumen</a></h3>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 text-center">
        <div class="practice-area">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-handcuffs"></span>
          </div>
          <h3><a href="javascript:void(0)">Hukum Pidana</a></h3>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 text-center">
        <div class="practice-area">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-money"></span>
          </div>
          <h3><a href="javascript:void(0)">Perbankan & Keuangan</a></h3>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 text-center">
        <div class="practice-area">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-auction"></span>
          </div>
          <h3><a href="javascript:void(0)">Pertanahan / Agraria</a></h3>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 text-center">
        <div class="practice-area">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-lawyer"></span>
          </div>
          <h3><a href="javascript:void(0)">Legal Drafting</a></h3>
        </div>
      </div>
      <div class="col-md-3 col-lg-2 text-center">
        <div class="practice-area">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-handshake"></span>
          </div>
          <h3><a href="javascript:void(0)">Hak Atas Kekayaan Intelektual</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-consultation">
  <div class="container-fluid" style="margin: 32px 0">
    <div class="row d-md-flex">
      <div class="half d-flex justify-content-center align-items-center img maps">
        <!-- isi google maps   -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.1212744819245!2d106.77967457461857!3d-6.247745961174154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f15840206021%3A0xd22b974182ddf69c!2sKANTOR%20PENGACARA%20IMAM%20HANAFI%2C%20S.H.!5e0!3m2!1sid!2sid!4v1691504520283!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="half p-3 p-md-5">
        <h3 class="mb-4"><span class="icon icon-map-marker pr-3"></span><strong>Kantor Pengacara Imam Hanafi, S.H.</strong></h3>
        <h4>Jalan Bungur Raya, <br> Gang Andaya Puri, Nomor 12 A, <br> Jakarta, Indonesia <br> Kode Pos 12240</h4>
        <p style="margin-top: 32px">
          <a href="https://goo.gl/maps/wrN1avWqwbE4NY1R8"
             class="btn btn-primary py-3 px-4">
            Tunjukkan saya jalannya
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center">
        <span class="subheading">Blog</span>
        <h2>Baca blog kami</h2>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-4 d-flex">
        <div class="blog-entry justify-content-end">
          <a [routerLink]="'blog/single'" class="block-20"
             style="background-image: url('../../../assets/images/image_1.jpg');">
          </a>
          <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
              <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">15</span>
              </div>
              <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">2019</span>
                <span class="mos">January</span>
              </div>
            </div>
            <h3 class="heading mt-2"><a href="javascript:void(0)">All you want to know about industrial laws</a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="blog-entry justify-content-end">
          <a [routerLink]="'blog/single'" class="block-20"
             style="background-image: url('../../../assets/images/image_2.jpg');">
          </a>
          <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
              <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">12</span>
              </div>
              <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">2019</span>
                <span class="mos">January</span>
              </div>
            </div>
            <h3 class="heading mt-2"><a href="javascript:void(0)">All you want to know about industrial laws</a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="blog-entry">
          <a [routerLink]="'blog/single'" class="block-20"
             style="background-image: url('../../../assets/images/image_3.jpg');">
          </a>
          <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
              <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">10</span>
              </div>
              <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">2019</span>
                <span class="mos">January</span>
              </div>
            </div>
            <h3 class="heading mt-2"><a href="javascript:void(0)">All you want to know about industrial laws</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
